{% extends 'base.html' %}
{% block title %}
UPCOMING TREK
{% endblock title %}
{% block body %}
<div class="container-fluid px-0">
    <img src="https://www.flightcentre.com.au/sites/v0.flightcentre.com.au/files/styles/fcl_blog_slideshow/public/everest_hike_1.jpg?itok=QNmpBacI"  class="d-block h-50 w-100" alt="...">
    </div>
<div class="container my-2 px-3" >
    <h1 class="my=5 text-center">THIS ARE THE UPCOMING TREKS</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.thrillophilia.com/image/upload/s--59QEnGdW--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/046/277/original/dhauladhar-20range-20by-20raman-20sharma-20flickr.jpg.jpg" class="d-block  w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text"><b>01</b>   The Grand Indrahar Pass, Himachal Pradesh </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://images.thrillophilia.com/image/upload/s--EOh_Ujng--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/046/283/original/640px-river-beas-2c-manali.jpg.jpg" class="d-block  w-100" alt="...">
    
            <div class="card-body">
              <p class="card-text"><b>02</b>    Trekking in Manali, Himachal Pradesh .</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted"></small>
              </div>
            </div>
          </div>
        </div>
         <div class="col">
            <div class="card shadow-sm">
                <img src="https://images.thrillophilia.com/image/upload/s--yxs-jDr7--/c_fill,g_center,h_450,q_auto,w_753/dpr_1.0,f_auto,fl_strip_profile/v1/images/photos/000/029/617/original/1579073125_nagtibbaaa.png.jpg" class="d-block  w-100" alt="...">
      
            <div class="card-body">
            <p class="card-text"><b>03</b>
                  Nag Tibba Trek with Camping, Uttarakhand | Book @ 20% off.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>  
<div class="container-fluid px-0">
    <img src="https://thumbs.dreamstime.com/b/vertical-photos-hiking-tourist-life-vertical-photos-hiking-tourist-life-caption-capital-letters-vertical-photos-179749461.jpg"  class="d-block h-50 w-100" alt="...">
    </div>
{% endblock body %}
